
container__main-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__main-banner {
  height: 905px;
}

.container__main-banner::before {
  content: "";
  display: flex;
  position: absolute;
  background-image: url("../img/main-man.png");
  background-repeat: no-repeat;
  transform: translate(520px, 110px);
  width: 100%;
  height: 100%;

}

.game-over__main-banner-title {
  font-family: "Arial-Black", serif;
  font-size: 8.8em;
  font-weight: 900;
}

.game-over__main-banner-title::after {
  content: "";
  display: flex;
  position: absolute;
  background-image: url("../img/game-over-stroke.png");
  background-repeat: repeat-y;
  transform: translateY(-35px);
  width: 100%;
  height: 688px;
  z-index: -1;
}

.game-over__main-banner-subtitle {
  font-size: 1.4em;
  transform: translate(200px, -29px);
}

.game-over__main-banner-benefits{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  vertical-align: bottom;
  margin-right: 30px;
}
.game-over__main-banner-benefits-text-up{
  font-family: "Arial-black", serif;
  font-weight: 900;
  font-size: 5em;
  color: #CD06FF;
  
}

.game-over__main-banner-benefits-text-up_fz80{
  font-weight: 700;
  font-size: 4em;
  text-transform: uppercase;
}

.game-over__main-banner-benefits-text-low{
  font-size: 1.4em;
  width: 180px;
  margin-bottom: 170px;
}

.game-over__main-banner-button{
  display: flex;
  justify-content: center;
  background: #6C0287;
  border-radius: 10px;
  font-size: 1.3em;
  font-weight: 700;
  padding: 25px 69px;
  width: 420px;
}

.game-over__main-banner-down {
  width: 97px;
  height: 97px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  transform: translateX(555px);
}

.game-over__main-banner-down::after {
  content: "";
  display: flex;
  background-color: #fff;
  width: 1.82px;
  height: 20.02px;
  transform: translate(41px, 20px) rotate(-40deg);
}

.game-over__main-banner-down::before {
  content: "";
  display: flex;
  background-color: #fff;
  width: 1.82px;
  height: 20.02px;
  transform: translate(53px, 40px) rotate(-140deg);
  
}