
container__main-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.container__main-banner {
  height: 905px;
  position: relative;
}

.container__main-banner::before {
  content: "";
  display: flex;
  position: absolute;
  background-image: url("../img/main-man.png");
  background-repeat: no-repeat;
  transform: translate(520px, 110px);
  width: 675px;
  height: 762px;

}

.game-over__main-banner-title {
  font-family: "Arial-Black", serif;
  font-size: 8.8em;
  font-weight: 900;
}

.game-over__main-banner-title::after {
  content: "";
  display: flex;
  position: absolute;
  background-image: url("../img/game-over-stroke.png");
  background-repeat: repeat-y;
  transform: translateY(-35px);
  width: 100%;
  height: 688px;
  z-index: -1;
}

.game-over__main-banner-subtitle {
  width: 400px;
  font-size: 1.4em;
  line-height: 50px;
  transform: translate(200px, -29px);
}

.game-over__main-banner-benefits{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  vertical-align: bottom;
  margin-right: 30px;
}
.game-over__main-banner-benefits-text-up{
  font-family: "Arial-black", serif;
  font-weight: 900;
  font-size: 5em;
  line-height: 141.02px;
  color: #CD06FF;
  
}

.game-over__main-banner-benefits-text-up_fz80{
  font-weight: 700;
  font-size: 4em;
  line-height: 91.99px;
  text-transform: uppercase;
}

.game-over__main-banner-benefits-text-low{
  font-size: 1.4em;
  line-height: 32.2px;
  width: 180px;
  margin-bottom: 170px;
}

.game-over__main-banner-button{
  display: flex;
  justify-content: center;
  background: #6C0287;
  border: 3px solid #6C0287;
  border-radius: 10px;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 30px;
  padding: 25px 69px;
  width: 420px;
  cursor: pointer;
}

.game-over__main-banner-down {
  position: relative;
  width: 97px;
  height: 97px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  transform: translateX(555px);
  cursor: pointer;
}

.game-over__main-banner-down::after {
  content: "";
  display: flex;
  background-color: #fff;
  width: 1.82px;
  height: 20.02px;
  transform: translate(41px, 20px) rotate(-40deg);
}

.game-over__main-banner-down::before {
  content: "";
  display: flex;
  background-color: #fff;
  width: 1.82px;
  height: 20.02px;
  transform: translate(53px, 40px) rotate(-140deg); 
}

.game-over__main-banner-button:hover, .game-over__main-banner-button:focus {
  background-color: #6C0287;
}

.game-over__main-banner-button:active {
  background-color: #640AA3;
}



.game-over__main-banner-down:hover {
  position: relative;
  width: 97px;
  height: 97px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  transform: translateX(555px);
  cursor: pointer;
  background-color: #fff;
}

.game-over__main-banner-down:hover:after {
  content: "";
  display: flex;
  background-color: #6C0287;
  width: 1.82px;
  height: 20.02px;
  transform: translate(41px, 20px) rotate(-40deg);
}

.game-over__main-banner-down:hover:before {
  content: "";
  display: flex;
  background-color: #6C0287;
  width: 1.82px;
  height: 20.02px;
  transform: translate(53px, 40px) rotate(-140deg); 
}

.game-over__main-banner-down:active {
  position: relative;
  width: 97px;
  height: 97px;
  border: 1px solid #CD06FF;
  border-radius: 50%;
  transform: translateX(555px);
  cursor: pointer;
  background-color: #CD06FF;
}

.game-over__main-banner-down:active:after {
  content: "";
  display: flex;
  background-color: #fff;
  width: 1.82px;
  height: 20.02px;
  transform: translate(41px, 20px) rotate(-40deg);
}

.game-over__main-banner-down:active:before {
  content: "";
  display: flex;
  background-color: #fff;
  width: 1.82px;
  height: 20.02px;
  transform: translate(53px, 40px) rotate(-140deg); 
}


.game-over__main-banner-down:focus {
  position: relative;
  width: 97px;
  height: 97px;
  border: 1px solid #CD06FF;
  border-radius: 50%;
  transform: translateX(555px);
  cursor: pointer;
  outline: none;
}

.game-over__main-banner-down:focus:after {
  content: "";
  display: flex;
  background-color: #fff;
  width: 1.82px;
  height: 20.02px;
  transform: translate(41px, 20px) rotate(-40deg);
}

.game-over__main-banner-down:focus:before {
  content: "";
  display: flex;
  background-color: #fff;
  width: 1.82px;
  height: 20.02px;
  transform: translate(53px, 40px) rotate(-140deg); 
}
