.game-over__booking{
  background-color: #440F51;
}

.game-over__booking-title{
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.game-over__booking-form-choose-block{
  padding: 0;
  border-style: none;
  margin-bottom: 60px;
}

.game-over__booking-form-choose-block_m0{
  margin-bottom: 0;
}


.game-over__booking-form-choose-block_console,
.game-over__booking-form-choose-block_board-game,
.game-over__booking-form-choose-block-add{
  margin-bottom: 0;
}

.game-over__booking-form-choose-title{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.game-over__booking-form-choose-room-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.game-over__booking-form-choose-room-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 55px;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 15px 8px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #000000;
}

.game-over__booking-form-choose-room-item:hover {
  background-color: #EADEED;
  border: 3px solid #640AA3;
}

.game-over__booking-form-choose-room-item:active {
  background-color:#EADEED;
}

.game-over__booking-form-choose-room-item:focus {
  background-color: #FFFFFF;
  border: 3px solid #640AA3;
}


.game-over__booking-form-choose-room-name[type=radio] {
  display: none;
}

.game-over__booking-form-choose-block-wrap{
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.game-over__booking-form-set-title{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.game-over__booking-form-set-item {
  margin-bottom: 20px;
}

.game-over__booking-form-date-choose-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 172px;
  width: 300px;
}

.game-over__booking-form-date-choose-list_w300{
  width: 280px;
}

.game-over__booking-form-date-choose-item {
  width: 100%;
  height: 100%;
}

.game-over__booking-form-date-list-item_w134{
  width: 134px;
  height: 52px;
}

.game-over__booking-form-date-list-item_w280 {
  width: 280px;
  height: 52px;
}

.game-over__booking-form-date-list-item_w300 {
  width: 300px;
  height: 52px;
}

.game-over__booking-form-list-item-name{
  position: absolute;
  color: #fff;
  transform: translateY(-20px);
  font-size: 0.8em;
  line-height: 16px;
}

.game-over__booking-form-choose-title {
  margin-bottom: 60px;
}

.game-over__booking-form-button{
  width: 300px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: Arial;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  border-color: transparent;
}

.game-over__booking-form-choose-block-wrap_button{
  justify-content: flex-end;
}

.game-over__booking-form-date-choose-item:hover {
  background-color: #fff;
}

.game-over__booking-form-date-choose-item:focus {
  background: #FFFFFF;
  border: 2px solid #CD06FF;
  outline: none;
}

.game-over__booking-form-set-board-game-name {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  height: 27px;
  width: 27px;
  background: #ffffff;
}

.game-over__booking-form-set-board-game-name:focus {
  border: 1px solid #CD06FF;
}

.game-over__booking-form-set-console-name:focus {
  border: 1px solid #CD06FF;
}

.game-over__booking-form-set-add-name:focus {
  border: 1px solid #CD06FF;
}

.game-over__booking-form-set-console-name {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background: #ffffff;
}

.game-over__booking-form-set-add-name {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  height: 27px;
  width: 27px;
  background: #ffffff;
}

.game-over__booking-form-set-board-game-name {
  outline: none;
  position: relative;
}

.game-over__booking-form-set-add-name {
  outline: none;
  position: relative;
}

.game-over__booking-form-set-console-name {
  outline: none;
  position: relative;
}

.game-over__booking-form-set-board-game-name:focus::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 33px;
  border: 1px solid #CD06FF;
}

.game-over__booking-form-set-console-name:focus::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 33px;
  border: 1px solid #CD06FF;
  border-radius: 50%;
}

.game-over__booking-form-set-add-name:focus::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 33px;
  border: 1px solid #CD06FF;
}