
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-v29-latin_cyrillic-regular.eot');
  src: url('../fonts/roboto-v29-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
  url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff'),
  url('../fonts/roboto-v29-latin_cyrillic-regular.ttf') format('truetype'),
  url('../fonts/roboto-v29-latin_cyrillic-regular.svg#Roboto') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-v29-latin_cyrillic-700.eot');
  src: url('../fonts/roboto-v29-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin_cyrillic-700.woff') format('woff'),
    url('../fonts/roboto-v29-latin_cyrillic-700.ttf') format('truetype'),
    url('../fonts/roboto-v29-latin_cyrillic-700.svg#Roboto-Black') format('svg');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-v29-latin_cyrillic-900.eot');
  src: url('../fonts/roboto-v29-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-v29-latin_cyrillic-900.woff2') format('woff2'), 
    url('../fonts/roboto-v29-latin_cyrillic-900.woff') format('woff'),
    url('../fonts/roboto-v29-latin_cyrillic-900.ttf') format('truetype'),
    url('../fonts/roboto-v29-latin_cyrillic-900.svg#Roboto') format('svg');
  font-style: normal;
  font-weight: 900;
} 

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Roboto', sans-serif;
  
  font-size: 20px;
  line-height: 1.25;
  background-color: #fff;
  color: #000;

  padding-bottom: 100px;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
ul,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding: 30px;
  margin: 0 auto;
}

section {
  max-width: 1080px;
  padding: 50px 0;
}