.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  
}

.game-over__menu{
  display: flex;
  width: 587px;
  justify-content: space-between;
  text-transform: uppercase;
  
}

.game-over__menu-link{
  line-height: 50px;
}

.game-over__menu-link:hover {
  color:#CD06FF;
}

.game-over__header-button{
  background-color: transparent;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  border: 3px solid #CD06FF;
  border-radius: 10px;
  padding: 12px 32px;
}

.game-over__header-button:hover, .game-over__header-button:focus {
  background-color: #6C0287;
  border: 3px solid #6C0287;
}

.game-over__header-button:active {
  background-color: #640AA3;
}
