.game-over__rooms {
  padding: 0;
  margin-bottom: 100px;
}

.game-over__rooms-title{
  font-family: "Arial";
  font-weight: 700;
  line-height: 50px;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 41px;
}
.game-over__rooms-list{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 738px;
}

.game-over__rooms-card-text{
  position: absolute;
  width: 252px;
  font-family: "Arial";
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
  line-height: 80px;
  text-transform: uppercase;
  transform: translate(160px, -270px);
}


